.inputcity{
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}


.gotitman{
    display: flex;
}

.tetherwe{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}


.iconic{
    margin-top: -20px;
    padding-left: 20px;
}

.weatherwe{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;

}


@media (max-width: 480px) {
    .ThankGod{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        border-radius: 20px;
    }

    .citydetails{
        color: white;
        text-align: center;
        margin-top: -20px;
        margin-bottom: -120px;
    }

    .daysdetails{
        display: flex;
        flex-direction: column;
        color: white;
    }

    
    .forecasthour{
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 0.3px solid white;
        border-radius: 20px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .forsmallerscreen1{
        display: flex;
        gap: 30px;
    }

    .forsmallerscreen2{
        display: flex;
        gap: 30px;
    }

    .forsmallerscreen3{
        display: none;
    }

    .finaltemp{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 50px;
        /* justify-content: center; */
        margin-top: -20px;
        color: white;
        /* padding-left: 80px; */
    }

    .mostDevnitly{
        display: block;
    }

    .checktemps{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        padding-top: 40px;
        border: none !important
    }

    .humidity{
        display: flex;
    }

    .pressure{
        display: flex;
    }

    .windSpeed{
        /* display: flex; !important */
    }

   .windGust{
    /* display: flex; !important */
   }

   .tentoesgenius{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -20px;
}

.forcaster{
    margin-left: -10px;
    margin-bottom: 20px;
    display: flex;
    white-space: nowrap;
    color: white;
}

.hourlydayforcaster{
    display: flex;
    align-items: center;
    padding-right: -80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.humidPressure{
    display: flex;
    gap: 30px;
    margin-top: -20px;
}

.sunrisesunset{
    margin-top: -50px;
}

.TeJthis{
    margin-top: 100px;
}

  }

  .sunrisesunset{

  }

  .humidPressure{

  }

  .humidity{
    display: flex;
}

.pressure{
    display: flex;
}

.windSpeed{
    display: flex;
    /* flex-direction: column; */
}

.windGust{
    display: flex;
    /* flex-direction: column; */
}

.speedGust{
    display: flex;
    flex-direction: column;
}

    .forsmallerscreen1{
        display: flex;
    }

    .forsmallerscreen2{
        display: flex;
    }


  .citydetails{
    color: white;
    text-align: center;
    margin-top: -50px;
}

.ThankGod{
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 30px;
    border-radius: 20px;
}

.todayHourlyForecast{
    display: flex;
    flex-direction: column;
}

.daysdetails{
    display: flex;
    gap: 50px;
    align-items: center;
    color: white;
}


.checktemps{
    display: flex;
    align-items: center;
    gap: 200px;
    justify-content: center;
    margin-top: 0px;
    padding-top: 40px;
    border: 0.5px solid white;
    border-radius: 20px;
}

.sunrise{
    display: flex;
    gap: 10px;
}

.sunset{
    display: flex;
    gap: 10px;
}

.weekdaystempo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.degrees{
    color: white;
}

.foresighter{
    /* display: flex; */
    /* align-items: center; */
    padding-right: 80px;
}

.weektemperature{
    align-items: center;
    border: 0.5px solid white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.hourly{
    color: white;
}

.forecasthour{
    display: flex;
    gap: 20px;
    border: 0.3px solid white;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.forehour{
    color: white;
    margin-top: 80px;
}

.Hourlyforecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.finaltemp{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    margin-top: -20px;
    color: white;
    padding-left: 80px;
}

.forcaster{
    padding-left: 80px;
    color: white;
}

.hourlydayforcaster{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
    margin-bottom: 10px;
    /* padding-left: 80px; */
    padding-right: 80px;
}

.tentoesgenius{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -80px;
}

.detailsofcity{
    margin-top: 50px;
}

.longlati{
    display: flex;
    gap: 20px;
    margin-bottom: -30px ;

}